@import "src/styles/variables";

.panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: $panel-color;

  .panel-item {
    width: 225px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
  }

  .active-panel-item {
    background: $active-panel-color !important;
  }

}